.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
  }

  .linear-progress {
    width: 100%; 
    margin-top: 50px;
    
  }
  
  .linear-progress .MuiLinearProgress-bar {
    background-color: #2196f3; 
  }
  
  .linear-progress .MuiLinearProgress-barColorPrimary {
    background-color: #2196f3; 
  }
  
  


